<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load cart_tags %}

<head>
    <meta charset="UTF-8">
    <title>{% if title %}Home{% else %}{% block title %}{% endblock %}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/medias.css' %}">
    <link rel="stylesheet" href="{% static 'css/site-info.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!--    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css/docs/5.3/assets/css/docs.css" rel="stylesheet">-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    {% user_carts request as carts %}
    {% url 'store:main_page' as main_page_url %}
    {% url 'store:product_list' as product_list_url %}

<header>
    {% block header %}
    {% if request.path == main_page_url %}

    <div class="dropdown">
        <img  data-bs-toggle="dropdown"
             data-bs-auto-close="outside" aria-expanded="false"
             src="{% static 'img/free-icon-font-menu-burger-3917762 (2).png' %}">

        <div class="navbar-invisibility ">
            <a href="{% url 'store:main_page' %}" class="logo">Главная</a>
            <a href="{% url 'store:site_info' %}" class="logo">Информация</a>

            {% if request.user.is_authenticated %}
            <a href="{% url 'account:logout' %}">Выход</a>
            {% else %}
            <a href="{% url 'account:login' %}">Вход</a>
            {% endif %}


           <div class="correct">
            {% if request.user.is_authenticated %}
                <a href="{% url 'account:profile' %}" class="logo">
            Пользователь: {{ request.user.first_name|default:request.user.username }}
            {% endif %}
                </a>

<!--            {% if request.user.is_authenticated %}-->
<!--            <a href="{% url 'account:profile' %}" class="logo">Личный кабинет</a>-->
<!--            {% endif %}-->
            </div>



            <a href="{% url 'cart:cart_detail' %}"><img src="{% static 'img/basket(24).png' %}" alt=""></a>
            <p>{{ carts.total_quantity }}</p>
        </div>


<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" tabindex="1" href="{% url 'store:main_page' %}">Главная</a></li>-->
<!--        <li><a class="dropdown-item correction-indent-up" tabindex="2" href="{% url 'store:site_info' %}">Информация</a></li>-->
<!--        <li><a class="dropdown-item correction-indent-up-down" tabindex="3" href="#">Корзина</a></li>-->
<!--          <li><hr color="black" class="dropdown-divider"></li>-->

<!--          {% if request.user.is_authenticated %}-->
<!--        <li><a class="dropdown-item dropdown-item correction-indent-up" tabindex="4" href="/">Выход</a></li>-->
<!--          {% else %}-->
<!--        <li><a class="dropdown-item dropdown-item correction-indent-up" tabindex="4" href="/">Вход</a></li>-->
<!--          {% endif %}-->
<!--      </ul>-->

    </div>

    {% else %}

    <div class="dropdown">
        <img  data-bs-toggle="dropdown"
             data-bs-auto-close="outside" aria-expanded="false"
             src="{% static 'img/free-icon-font-menu-burger-3917762 (2).png' %}">

        <div class="navbar-invisibility ">
            <a href="{% url 'store:main_page' %}" class="logo">Главная</a>
            <a href="{% url 'store:product_list' %}" class="logo">Каталог</a>

            {% if request.user.is_authenticated %}
            <a href="{% url 'account:logout' %}">Выход</a>
            {% else %}
            <a href="{% url 'account:login' %}">Вход</a>
            {% endif %}


            <div class="correct">
            {% if request.user.is_authenticated %}
                <a href="{% url 'account:profile' %}" class="logo">
            Пользователь: {{ request.user.first_name|default:request.user.username }}
            {% endif %}
                </a>

<!--            {% if request.user.is_authenticated %}-->
<!--            Личный кабинет-->
<!--            {% endif %}-->
            </div>


            <a href="{% url 'cart:cart_detail' %}"><img src="{% static 'img/basket(24).png' %}" alt=""></a>
            <p>{{ carts.total_quantity }}</p>
        </div>

<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" tabindex="1" href="{% url 'store:main_page' %}">Главная</a></li>-->
<!--        <li><a class="dropdown-item correction-indent-up" tabindex="2" href="{% url 'store:product_list' %}">Каталог</a></li>-->
<!--        <li><a class="dropdown-item correction-indent-up-down" tabindex="3" href="#">Корзина</a></li>-->
<!--          <li><hr color="black" class="dropdown-divider"></li>-->
<!--        <li><a class="dropdown-item dropdown-item correction-indent-up" tabindex="4" href="/">Вход</a></li>-->
<!--      </ul>-->
</div>

    {% endif %}
    {% endblock %}
</header>
{% include "store/notification_forms.html" %}

<section>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</section>


<footer>
    {% block footer %}
<!--    {% if request.path == product_list_url %}-->

<!--    <div class="footer-decoration">-->
<!--        <a href="#"><img src="{% static 'img/free-icon-vk-2111747 (1).png' %}" alt=""></a>-->
<!--        <a href="#"><img src="{% static 'img/free-icon-telegram-2111673 (1).png' %}" alt=""></a>-->
<!--        <h6 class="box-4">Автор: Калинкин Александр Васильевич</h6>-->
<!--    </div>-->

<!--    {% else %}-->

    <div class="footer-decoration-main-page">
        <a href="#"><img src="{% static 'img/free-icon-vk-2111747 (1).png' %}" alt=""></a>
        <a href="#"><img src="{% static 'img/free-icon-telegram-2111673 (1).png' %}" alt=""></a>
        <h6 class="box-4">Автор: Калинкин Александр Васильевич</h6>
    </div>

    {% endif %}
    {% endblock %}
</footer>

    <script src="{% static 'js/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>


</body>
</html>
