{% extends 'store/base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Продукция{% endif %}
{% endblock %}

{% block content %}
    <div class="menu">
        <div class="menu-catalog">
        <a class="box-1" href="#" data-bs-toggle="dropdown">Каталог<img src="{% static 'img/free-icon-font-apps-3917658 (1).png' %}"></a>

           <ul class="dropdown-menu">
                <li {% if not category %} class="selected" {% endif %}>
                    <a href="{% url 'store:product_list' %}">Все категорий</a>
                </li >
                {% for c in categories %}
                <li {% if category.slug == c.slug %} class=selected {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu-product-text box-2"><h4>{% if category %}{{ category.name }}{% else %}Вся продукция{% endif %}</h4></div>
    </div>

    <div class="product-list">


        {% for product in products %}
        <div class="card">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
            </a>
            <a class="product-text" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <div>id: {{ product.display_id }}</div>
            {% if product.discount %}

            <div class="price-discount">
            {% if product.price < 10000 %}
            {{ product.price|get_digit:"4" }}
            {{ product.price|get_digit:"3" }}{{ product.price|get_digit:"2" }}{{ product.price|get_digit:"1" }}
            &#x20bd

            {% elif product.price < 100000 %}
            {{ product.price|get_digit:"5" }}{{ product.price|get_digit:"4" }}
            {{ product.price|get_digit:"3" }}{{ product.price|get_digit:"2" }}{{ product.price|get_digit:"1" }}
            &#x20bd

            {% elif product.price < 1000000 %}
            {{ product.price|get_digit:"6" }}{{ product.price|get_digit:"5" }}{{ product.price|get_digit:"4" }}
            {{ product.price|get_digit:"3" }}{{ product.price|get_digit:"2" }}{{ product.price|get_digit:"1" }}
            &#x20bd
            {% endif %}
            </div>
            <div class="price">
            {% if product.price < 10000 %}
            {{ product.sell_price|get_digit:"4" }}
            {{ product.sell_price|get_digit:"3" }}{{ product.sell_price|get_digit:"2" }}{{ product.sell_price|get_digit:"1" }}
            &#x20bd

            {% elif product.sell_price < 100000 %}
            {{ product.sell_price|get_digit:"5" }}{{ product.sell_price|get_digit:"4" }}
            {{ product.sell_price|get_digit:"3" }}{{ product.sell_price|get_digit:"2" }}{{ product.sell_price|get_digit:"1" }}
            &#x20bd

            {% elif product.price < 1000000 %}
            {{ product.sell_price|get_digit:"6" }}{{ product.sell_price|get_digit:"5" }}{{ product.sell_price|get_digit:"4" }}
            {{ product.sell_price|get_digit:"3" }}{{ product.sell_price|get_digit:"2" }}{{ product.sell_price|get_digit:"1" }}
            &#x20bd
            {% endif %}
            </div>
            <div>-{{ product.discount }}%</div>
            {% else %}
            <div class="price">
            {% if product.price < 10000 %}
            {{ product.price|get_digit:"4" }}
            {{ product.price|get_digit:"3" }}{{ product.price|get_digit:"2" }}{{ product.price|get_digit:"1" }}
            &#x20bd

            {% elif product.price < 100000 %}
            {{ product.price|get_digit:"5" }}{{ product.price|get_digit:"4" }}
            {{ product.price|get_digit:"3" }}{{ product.price|get_digit:"2" }}{{ product.price|get_digit:"1" }}
            &#x20bd

            {% elif product.price < 1000000 %}
            {{ product.price|get_digit:"6" }}{{ product.price|get_digit:"5" }}{{ product.price|get_digit:"4" }}
            {{ product.price|get_digit:"3" }}{{ product.price|get_digit:"2" }}{{ product.price|get_digit:"1" }}
            &#x20bd
            {% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}



    </div>
{% endblock %}


<!--здесь обязательное присутствие блока footer-->
{% block footer %}
    <div class="footer-decoration-main-page">
        <a href="#"><img src="{% static 'img/free-icon-vk-2111747 (1).png' %}" alt=""></a>
        <a href="#"><img src="{% static 'img/free-icon-telegram-2111673 (1).png' %}" alt=""></a>
        <h6 class="box-4">Автор: Калинкин Александр Васильевич</h6>
    </div>
{% endblock %}